<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (locals.message) { %>
        <div class="alert alert-danger" role="alert">
            <%= message %>
        </div>
    <% } %>
    <form action="/forgot-password" method="post">
        <div class="form-group">
            <label for="email">Email address *</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div><!-- End .form-group -->
    
        <button type="submit" class="btn btn-outline-primary-2">
            <span>Reset Password</span>
        </button>
    </form>
    
    
</body>
</html>
