<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.message) { %>
        <div class="alert alert-danger" role="alert">
            <%= message %>
        </div>
    <% } %>
    <form action="/reset-password/<%= token %>" method="post">
        <div class="form-group">
            <label for="password">New Password *</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <button type="button" onclick="togglePasswordVisibility('password')" class="eye-btn">👁️</button>
        </div><!-- End .form-group -->
    
        <div class="form-group">
            <label for="confirm-password">Confirm Password *</label>
            <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
            <button type="button" onclick="togglePasswordVisibility('confirm-password')" class="eye-btn">👁️</button>
        </div><!-- End .form-group -->
    
        <button type="submit" class="btn btn-outline-primary-2">
            <span>Reset Password</span>
        </button>
    </form>
    
    <script>
    function togglePasswordVisibility(fieldId) {
        const field = document.getElementById(fieldId);
        field.type = field.type === 'password' ? 'text' : 'password';
    }
    </script>
    
    
</body>
</html>